[submodule "cutlass"]
	path = 3rd/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "flash-attention"]
	path = 3rd/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "DeepGEMM"]
	path = 3rd/deepgemm
	url = https://github.com/deepseek-ai/DeepGEMM.git
[submodule "vllm"]
	path = 3rd/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "FlashMLA"]
	path = 3rd/FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
[submodule "TensorRT-LLM"]
	path = 3rd/trtllm
	url = https://github.com/NVIDIA/TensorRT-LLM.git
[submodule "FlashInfer"]
	path = 3rd/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "3rd/clusterfusion"]
	path = 3rd/clusterfusion
	url = https://github.com/xinhao-luo/ClusterFusion.git
