[submodule "cutlass"]
	path = 3rd/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "flash-attention"]
	path = 3rd/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "deepgemm"]
	path = 3rd/deepgemm
	url = https://github.com/deepseek-ai/DeepGEMM.git
[submodule "vllm"]
	path = 3rd/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "FlashMLA"]
	path = 3rd/FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
